.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.faq-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333; /* 글자 색상 */
  margin-top: 120px;
  margin-bottom: 15px;
  letter-spacing: 1px; /* 글자 간격 */
  text-transform: uppercase; /* 대문자 변환 */
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
}

.faq-list {
  width: 60%;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.toggle-icon {
  font-size: 20px;
}

.faq-answer {
  background-color: #e9ecef;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 16px;
}

.faq-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  max-height: 350px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.messages .user {
  background-color: #d1f7c4;
  padding: 12px;
  border-radius: 15px;
  max-width: 80%;
  align-self: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  color: #333;
  position: relative;
  margin-bottom: 10px;
}

.messages .user::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border: 10px solid transparent;
  border-right: 10px solid #d1f7c4;
}

.messages .bot {
  background-color: #e0e0e0;
  padding: 12px;
  border-radius: 15px;
  max-width: 80%;
  align-self: flex-end;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  color: #333;
  position: relative;
  margin-bottom: 10px;
}

.messages .bot::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
  border: 10px solid transparent;
  border-left: 10px solid #e0e0e0;
}

.chat-container input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}

.chat-container button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.chat-container button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
